@media(max-width: 1300px){

    /* HEAD */


    #txt02{
        font-size: 2.5vh;
        text-align: justify;
        margin: 1vh;
        display: block;
        width: auto;
    }


    /* MAIN */
    .container1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat( 2, 1fr);
        margin: 3vh;
        margin-top: 20vh;
        opacity: 0.9;
        height: auto;
    }

}





@media(max-width:1000px){
    
    
    
    /* MAIN */
    .cxdoemail{
        width: 55vh;
        height: 80vh;
    }

    #cxnome, #cxemail, #cxmsg{
        width: 45vh;
    }

    #cxnum{
        width: 60vh;
        height: 70vh;
        margin-left: 0vh;
    }

}




@media(max-width:850px){
    

    header > h1{
        font-size: 8vh;
    }

    header > h2{
        font-size: 2.5vh;
    }

    header > div > a{
        font-size: 2vh;
        width: 50%; 
    }

    /* MAIN */

 

    main > h2{
        font-size:  3vh ;
        margin: 1vh;
    }

    #txt01{
        font-size: 2.5vh;
        margin: 5vh;
        text-align: justify;
        
    }

    #sideimg{
        display: flex;
        width: auto;
        margin: 3vh;
    }

    #txt02{
        font-size: 2.5vh;
        text-align: justify;
        margin: 1vh;
        display: block;
        width: auto;
    }

    .container1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat( 2, 1fr);
        margin: 3vh;
        margin-top: 20vh;
        opacity: 0.9;
        height: auto;
    }

    .cx01{
        display: flex;
        width: auto;
        margin: 3vh;
    }

    .container2{
        height: auto;
    }    
       
    .container2 > a {
        margin: 3vh;
        margin-left: 25vh;
    } 

    .email-num{
        display: block;
    }

    .cxdoemail{
        width: auto;
    }

    #cxnum{
        width: 60vh;
        height:70vh;
        margin: auto;
        height: auto;  
    }

    #cxnum a{
        width: 30vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    /* FOOTER */

    .adress01, .adress02, .adress03, .assinatura{
        font-size: 2.5vh;
    }


}






@media(max-width:550px){

    /* HEADER */

    header > div > a{
        background-color: rgba(226, 226, 2, 0.932);
        width: 80px;
        margin:0%;
    }


    /* MAIN */

    #txt02{
        height: auto;
    }

    .cx01{
        width: 20vh;
        height: 20vh;
        margin: 0;
        font-size: 1.5vh;
    }


    .cx02 {
        grid: f1 f2 f3 f4 ;
        width: 25vh;
        height: 25vh;
        border: 1px solid gray;
    }


    .cxdoemail{
        width: 45vh;
        height: 80vh;
        margin: auto;
    }


    #cxnome, #cxemail, #cxmsg{
        width: 30vh;
    }

    #cxnome, #cxemail, #cxmsg::placeholder{
        font-size: 1.5vh; }



    #cxnum{
        width: auto;
        margin: 0%;
    }


}


