

/* MEDIA QUERIES */

@media (max-width: 550px){
    
    /* HEADER */
    body{
        display: grid;
        grid: none;
    }


    header > h1{
        font-size: 20vh;
    }


    header > h2{
        font-size: 10vh;
    }

    header > div > a{
        font-size: 7vh;
        padding: 7vh;
        width: 50vh;
        border-radius: 30px;
        font-weight: bold;
    }

    /* MAIN */

    main {
        margin: 5vh;
    }

    main > h2{
        font-size: 10vh;
        margin: 10vh;
    }

    .txt01{
        font-size: 10vh;
        text-align: justify;
    }

    .sideimg{
        width: 200vh;
        height: 100vh;
         
    }

    .txt02{
        font-size: 10vh;
        text-align: justify;
        width: auto;
        height: auto;
    }

    .container1{
        display: flex;
        flex-direction: column;
        height: auto;
         
    }

    .cx01{
        padding: 70vh;
        display: flex;
        justify-content: center;
        margin: auto;
        
    }

    .container2{
        height: 100vh; 
        font-size: 7vh;       
    }

    .container2 > h2{
        font-size: 10vh;
    }

    #txt03{
        font-size: 10vh;
    }

    .container3{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "f1 f2"
                              "f3 f4";
        gap: 5vh;
        
    }

    .cx02{
        margin: auto;
        padding: 20vh;
    }

    .f1{
        grid-area: f1;
    }

    .f2{
        grid-area: f2;
    }

    .f3{
        grid-area: f3;
    }

    .f4{
        grid-area: f4;
    }


    /* CAIXA DO EMAIL */

    .email-num{
        display: block;
        justify-content: center;    
    }

    .cxdoemail{
        padding: 10vh;
        margin: auto;
        width: 170vh;
        height: 180vh;
         
    }

    .txtpergunta{
        font-size: 10vh;
        white-space: pre-line;
        text-align: left;
    }
    #cxnome, #cxemail{
        width: 170vh;
        height: 15vh;
    }

    #cxmsg{
        width: 170vh;
        height: 50vh;
    }

    #enviar{
        font-size: 60px;
        width: 50vh;
    }


    /* SEÇÃO DÚVIDAS CASO QUEIRA ENTRAR EM CONTATO */

    #cxnum{
        margin:auto;
        height: auto;
        line-height: 20vh;
    }
    #cxnum > h2{
        font-size: 15vh;
        line-height: 15vh;
    }

    #cxnum > p{
        font-size: 10vh;
        line-height: 15vh;
        display: inline-block;

    }

    div#cxnum  a{
        width: 60vh;

    }

    /* FOOTER */

    .pe{
        height: 80vh;
    }

    #imgfootwine{
        width: 10vh;
    }

    .rsocial{
        width: 15vh;
        height: 15vh;
    }

     svg{
        width: 15vh;
        height: 15vh;
    }

    #txtaddress, .assinatura{
        font-size: 7vh;
    }
}










@media (max-width: 450px){
    
    /* HEADER */
    body{
        display: grid;
        grid: none;
    }


    header > h1{
        font-size: 15vh;
    }


    header > h2{
        font-size: 5vh;
    }

    header > div > a{
        font-size: 7vh;
        padding: 7vh;
        width: 50vh;
        border-radius: 30px;
        font-weight: bold;
    }

    /* MAIN */

    main {
        margin: 3vh;
    }

    main > h2{
        font-size: 7vh;
        margin: 7vh;
    }

    .txt01{
        font-size: 10vh;
        text-align: justify;
    }

    .sideimg{
        width: 200vh;
        height: 100vh;
         
    }

    .txt02{
        font-size: 10vh;
        text-align: justify;
        width: auto;
        height: auto;
    }

    .container1{
        display: flex;
        flex-direction: column;
        height: auto;
         
    }

    .cx01{
        padding: 70vh;
        display: flex;
        justify-content: center;
        margin: auto;
        
    }

    .container2{
        height: 100vh; 
        font-size: 7vh;       
    }

    .container2 > h2{
        font-size: 10vh;
    }

    #txt03{
        font-size: 10vh;
    }

    .container3{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "f1 f2"
                              "f3 f4";
        gap: 5vh;
        
    }

    .cx02{
        margin: auto;
        padding: 20vh;
    }

    .f1{
        grid-area: f1;
    }

    .f2{
        grid-area: f2;
    }

    .f3{
        grid-area: f3;
    }

    .f4{
        grid-area: f4;
    }


    /* CAIXA DO EMAIL */

    .email-num{
        display: block;
        justify-content: center;    
    }

    .cxdoemail{
        padding: 10vh;
        margin: auto;
        width: 170vh;
        height: 180vh;
         
    }

    .txtpergunta{
        font-size: 10vh;
        white-space: pre-line;
        text-align: left;
    }
    #cxnome, #cxemail{
        width: 170vh;
        height: 15vh;
    }

    #cxmsg{
        width: 170vh;
        height: 50vh;
    }

    #enviar{
        font-size: 60px;
        width: 50vh;
    }


    /* SEÇÃO DÚVIDAS CASO QUEIRA ENTRAR EM CONTATO */

    #cxnum{
        margin:auto;
        height: auto;
        line-height: 20vh;
    }
    #cxnum > h2{
        font-size: 15vh;
        line-height: 15vh;
    }

    #cxnum > p{
        font-size: 10vh;
        line-height: 15vh;
        display: inline-block;

    }

    div#cxnum  a{
        width: 60vh;

    }

    /* FOOTER */

    .pe{
        height: 80vh;
    }

    #imgfootwine{
        width: 10vh;
    }

    .rsocial{
        width: 15vh;
        height: 15vh;
    }

     svg{
        width: 15vh;
        height: 15vh;
    }

    #txtaddress, .assinatura{
        font-size: 7vh;
    }
}